.mural {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;

}

.mural--linhas {
    flex-direction: row;
}

.mural--linhas  .cartao {
    width: auto;
    flex-basis: auto;
    display: block;
}

#mudaLayout {
    display: none;
}

@media (min-width: 610px) {
    .mural {
        align-items: flex-start;
    }
}

@media (min-width: 900px) {
    .mural {
        align-items: center;
        font-size: 1.3em;
    }
}